<h1>New Addition</h1>
<form action="/wizard_add" method="get">
  <label for="FirstNum">Add this:</label>
  <input type="text" id="FirstNum" name="FirstNum">
  <label for="SecondNum">to this:</label>
  <input type="text" id="SecondNum" name="SecondNum">
  <button>Add!</button>
</form>
